doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    title Check Wallet
    script(src='../node_modules/bitcore-lib/bitcore-lib.js')
    script(src='../_javascript/get_address.js')
    link(rel='stylesheet', href='_css/menu.css')
  body
    h1
      center Checking Bitcoin Wallet 
    hr
    .menu
      a(href='index.html') Home
      a.active(href='check_wallet.html') Check Bitcoin Wallet
      a(href='create_btcwallet.html') Creating Bitcoin Wallet
      a(href='cryptofile.html') Crypto File
    br
    input#wallet(type='text', name='wallet', size='32', value='')
    input(type='button', onclick='getwallet()', value='Select')
    br
    br
    p1 Wallet Status:
    input#wallet_result(type='text', name='wallet_result', size='2', value='')
